{% extends "base.html" %}
{% load tz %}
{% load govuk_frontend_django %}
{% block title %}Manage Organisation - {{ user.first_name }} {{ block.super }}{% endblock %}
{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                Your draft self-assessments
            </h1>
            <table class="govuk-table">
                <caption class="govuk-table__caption govuk-table__caption--m">Continue a draft self-assessment</caption>
                <thead class="govuk-table__head">
                <tr class="govuk-table__row">
                    <th scope="col" class="govuk-table__header">System name</th>
                    <th scope="col" class="govuk-table__header">Profile</th>
                    <th scope="col" class="govuk-table__header">Last updated on</th>
                    <th scope="col" class="govuk-table__header">Action</th>
                </tr>
                </thead>
                <tbody class="govuk-table__body">
                {% for draft in draft_assessments %}
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell" data-label="System name">
                            {{ draft.system.name }}
                        </td>
                        <td class="govuk-table__cell" data-label="CAF profile">
                            {{ draft.get_caf_profile_display }}
                        </td>
                        <td class="govuk-table__cell" data-label="Last updated">
                            {% timezone "Europe/London" %}
                                {{ draft.last_updated|date:"d M Y, P T" }}
                            {% endtimezone %}
                        </td>
                        <td class="govuk-table__cell">
                            <a class="govuk-link" href="{% url 'edit-draft-assessment' assessment_id=draft.id %}"
                               title="Continue editing the assessment">View</a>
                            <br/>
                            <a class="govuk-link"
                               href="{% url 'download-assessment' pk=draft.id %}?mode=excel"
                               title="Download assessment data in excel format ">Download data (xlsx)</a>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
{% endblock %}
